In [46]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.ensemble import RandomForestClassifier
df = pd.read_excel('titanic.xlsx')

In [47]:
df = df.replace('?', np.NaN)

In [48]:
df.drop([0, 1, 4, 9, 11], inplace= True)

In [49]:
df.fillna(df.mean(),inplace= True)

In [50]:
#df.isnull().sum()
#df.isna().sum()

df.dropna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.000000,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.000000,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.000000,1,1,PP 9549,16.7000,G6,S
21,22,1,2,"Beesley, Mr. Lawrence",male,34.000000,0,0,248698,13.0000,D56,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,A6,S
27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.000000,3,2,19950,263.0000,C23 C25 C27,S
31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,29.673018,1,0,PC 17569,146.5208,B78,C
52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.000000,1,0,PC 17572,76.7292,D33,C
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.000000,0,1,113509,61.9792,B30,C
55,56,1,1,"Woolner, Mr. Hugh",male,29.673018,0,0,19947,35.5000,C52,S
62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.000000,1,0,36973,83.4750,C83,S
66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.000000,0,0,C.A. 29395,10.5000,F33,S
75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.000000,0,0,348123,7.6500,F G73,S
88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.000000,3,2,19950,263.0000,C23 C25 C27,S
92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.000000,1,0,W.E.P. 5734,61.1750,E31,S
96,97,0,1,"Goldschmidt, Mr. George B",male,71.000000,0,0,PC 17754,34.6542,A5,C
97,98,1,1,"Greenfield, Mr. William Bertram",male,23.000000,0,1,PC 17759,63.3583,D10 D12,C
102,103,0,1,"White, Mr. Richard Frasar",male,21.000000,0,1,35281,77.2875,D26,S
110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.000000,0,0,110465,52.0000,C110,S
118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.000000,0,1,PC 17558,247.5208,B58 B60,C
123,124,1,2,"Webber, Miss. Susan",female,32.500000,0,0,27267,13.0000,E101,S
124,125,0,1,"White, Mr. Percival Wayland",male,54.000000,0,1,35281,77.2875,D26,S
128,129,1,3,"Peter, Miss. Anna",female,29.673018,1,1,2668,22.3583,F E69,C
136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.000000,0,2,11752,26.2833,D47,S
137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.000000,1,0,113803,53.1000,C123,S
139,140,0,1,"Giglio, Mr. Victor",male,24.000000,0,0,PC 17593,79.2000,B86,C
148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.500000,0,2,230080,26.0000,F2,S
151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.000000,1,0,113776,66.6000,C2,S
166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,29.673018,0,1,113505,55.0000,E33,S
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.000000,0,0,111240,33.5000,B19,S
...,...,...,...,...,...,...,...,...,...,...,...,...
748,749,0,1,"Marvin, Mr. Daniel Warner",male,19.000000,1,0,113773,53.1000,D30,S
751,752,1,3,"Moor, Master. Meier",male,6.000000,0,1,392096,12.4750,E121,S
759,760,1,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.000000,0,0,110152,86.5000,B77,S
763,764,1,1,"Carter, Mrs. William Ernest (Lucile Polk)",female,36.000000,1,2,113760,120.0000,B96 B98,S
765,766,1,1,"Hogeboom, Mrs. John C (Anna Andrews)",female,51.000000,1,0,13502,77.9583,D11,S
772,773,0,2,"Mack, Mrs. (Mary)",female,57.000000,0,0,S.O./P.P. 3,10.5000,E77,S
776,777,0,3,"Tobin, Mr. Roger",male,29.673018,0,0,383121,7.7500,F38,Q
779,780,1,1,"Robert, Mrs. Edward Scott (Elisabeth Walton Mc...",female,43.000000,0,1,24160,211.3375,B3,S
781,782,1,1,"Dick, Mrs. Albert Adrian (Vera Gillespie)",female,17.000000,1,0,17474,57.0000,B20,S
782,783,0,1,"Long, Mr. Milton Clyde",male,29.000000,0,0,113501,30.0000,D6,S
789,790,0,1,"Guggenheim, Mr. Benjamin",male,46.000000,0,0,PC 17593,79.2000,B82 B84,C
796,797,1,1,"Leader, Dr. Alice (Farnham)",female,49.000000,0,0,17465,25.9292,D17,S
802,803,1,1,"Carter, Master. William Thornton II",male,11.000000,1,2,113760,120.0000,B96 B98,S
806,807,0,1,"Andrews, Mr. Thomas Jr",male,39.000000,0,0,112050,0.0000,A36,S
809,810,1,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.000000,1,0,113806,53.1000,E8,S
815,816,0,1,"Fry, Mr. Richard",male,29.673018,0,0,112058,0.0000,B102,S
820,821,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.000000,1,1,12749,93.5000,B69,S
823,824,1,3,"Moor, Mrs. (Beila)",female,27.000000,0,1,392096,12.4750,E121,S
835,836,1,1,"Compton, Miss. Sara Rebecca",female,39.000000,1,1,PC 17756,83.1583,E49,C
839,840,1,1,"Marechal, Mr. Pierre",male,29.673018,0,0,11774,29.7000,C47,C
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,29.673018,1,0,17453,89.1042,C92,C
853,854,1,1,"Lines, Miss. Mary Conover",female,16.000000,0,1,PC 17592,39.4000,D28,S
857,858,1,1,"Daly, Mr. Peter Denis",male,51.000000,0,0,113055,26.5500,E17,S
862,863,1,1,"Swift, Mrs. Frederick Joel (Margaret Welles Ba...",female,48.000000,0,0,17466,25.9292,D17,S
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.000000,0,0,PC 17590,50.4958,A24,S
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.000000,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.000000,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.000000,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.000000,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.000000,0,0,111369,30.0000,C148,C

In [51]:
#le = preprocessing.LabelEncoder()

In [58]:
#df.apply(le.fit_transform)

TypeError: ("'<' not supported between instances of 'int' and 'str'", 'occurred at index Ticket')

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [34]:
X_train

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
368,369,3,"Jermyn, Miss. Annie",female,29.673018,0,0,14313,7.7500,NaN,Q
260,261,3,"Smith, Mr. Thomas",male,29.673018,0,0,384461,7.7500,NaN,Q
481,482,2,"Frost, Mr. Anthony Wood ""Archie""",male,29.673018,0,0,239854,0.0000,NaN,S
276,277,3,"Lindblom, Miss. Augusta Charlotta",female,45.000000,0,0,347073,7.7500,NaN,S
558,559,1,"Taussig, Mrs. Emil (Tillie Mandelbaum)",female,39.000000,1,1,110413,79.6500,E67,S
771,772,3,"Jensen, Mr. Niels Peder",male,48.000000,0,0,350047,7.8542,NaN,S
236,237,2,"Hold, Mr. Stephen",male,44.000000,1,0,26707,26.0000,NaN,S
540,541,1,"Crosby, Miss. Harriet R",female,36.000000,0,2,WE/P 5735,71.0000,B22,S
167,168,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.000000,1,4,347088,27.9000,NaN,S
663,664,3,"Coleff, Mr. Peju",male,36.000000,0,0,349210,7.4958,NaN,S
878,879,3,"Laleff, Mr. Kristo",male,29.673018,0,0,349217,7.8958,NaN,S
396,397,3,"Olsson, Miss. Elina",female,31.000000,0,0,350407,7.8542,NaN,S
472,473,2,"West, Mrs. Edwy Arthur (Ada Mary Worth)",female,33.000000,1,2,C.A. 34651,27.7500,NaN,S
298,299,1,"Saalfeld, Mr. Adolphe",male,29.673018,0,0,19988,30.5000,C106,S
563,564,3,"Simmons, Mr. John",male,29.673018,0,0,SOTON/OQ 392082,8.0500,NaN,S
59,60,3,"Goodwin, Master. William Frederick",male,11.000000,5,2,CA 2144,46.9000,NaN,S
50,51,3,"Panula, Master. Juha Niilo",male,7.000000,4,1,3101295,39.6875,NaN,S
177,178,1,"Isham, Miss. Ann Elizabeth",female,50.000000,0,0,PC 17595,28.7125,C49,C
820,821,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.000000,1,1,12749,93.5000,B69,S
267,268,3,"Persson, Mr. Ernst Ulrik",male,25.000000,1,0,347083,7.7750,NaN,S
207,208,3,"Albimona, Mr. Nassef Cassem",male,26.000000,0,0,2699,18.7875,NaN,C
317,318,2,"Moraweck, Dr. Ernest",male,54.000000,0,0,29011,14.0000,NaN,S
421,422,3,"Charters, Mr. David",male,21.000000,0,0,A/5. 13032,7.7333,NaN,Q
44,45,3,"Devaney, Miss. Margaret Delia",female,19.000000,0,0,330958,7.8792,NaN,Q
534,535,3,"Cacic, Miss. Marija",female,30.000000,0,0,315084,8.6625,NaN,S
532,533,3,"Elias, Mr. Joseph Jr",male,17.000000,1,1,2690,7.2292,NaN,C
23,24,1,"Sloper, Mr. William Thompson",male,28.000000,0,0,113788,35.5000,A6,S
304,305,3,"Williams, Mr. Howard Hugh ""Harry""",male,29.673018,0,0,A/5 2466,8.0500,NaN,S
161,162,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Mi...",female,40.000000,0,0,C.A. 33595,15.7500,NaN,S
245,246,1,"Minahan, Dr. William Edward",male,44.000000,2,0,19928,90.0000,C78,Q
...,...,...,...,...,...,...,...,...,...,...,...
77,78,3,"Moutal, Mr. Rahamin Haim",male,29.673018,0,0,374746,8.0500,NaN,S
850,851,3,"Andersson, Master. Sigvard Harald Elias",male,4.000000,4,2,347082,31.2750,NaN,S
542,543,3,"Andersson, Miss. Sigrid Elisabeth",female,11.000000,4,2,347082,31.2750,NaN,S
682,683,3,"Olsvigen, Mr. Thor Anderson",male,20.000000,0,0,6563,9.2250,NaN,S
854,855,2,"Carter, Mrs. Ernest Courtenay (Lilian Hughes)",female,44.000000,1,0,244252,26.0000,NaN,S
874,875,2,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.000000,1,0,P/PP 3381,24.0000,NaN,C
179,180,3,"Leonard, Mr. Lionel",male,36.000000,0,0,LINE,0.0000,NaN,S
92,93,1,"Chaffee, Mr. Herbert Fuller",male,46.000000,1,0,W.E.P. 5734,61.1750,E31,S
556,557,1,"Duff Gordon, Lady. (Lucille Christiana Sutherl...",female,48.000000,1,0,11755,39.6000,A16,C
491,492,3,"Windelov, Mr. Einar",male,21.000000,0,0,SOTON/OQ 3101317,7.2500,NaN,S
710,711,1,"Mayne, Mlle. Berthe Antonine (""Mrs de Villiers"")",female,24.000000,0,0,PC 17482,49.5042,C90,C
319,320,1,"Spedden, Mrs. Frederic Oakley (Margaretta Corn...",female,40.000000,1,1,16966,134.5000,E34,C
401,402,3,"Adams, Mr. John",male,26.000000,0,0,341826,8.0500,NaN,S
605,606,3,"Lindell, Mr. Edvard Bengtsson",male,36.000000,1,0,349910,15.5500,NaN,S
477,478,3,"Braund, Mr. Lewis Richard",male,29.000000,1,0,3460,7.0458,NaN,S
75,76,3,"Moen, Mr. Sigurd Hansen",male,25.000000,0,0,348123,7.6500,F G73,S
604,605,1,"Homer, Mr. Harry (""Mr E Haven"")",male,35.000000,0,0,111426,26.5500,NaN,C
809,810,1,"Chambers, Mrs. Norman Campbell (Bertha Griggs)",female,33.000000,1,0,113806,53.1000,E8,S
759,760,1,"Rothes, the Countess. of (Lucy Noel Martha Dye...",female,33.000000,0,0,110152,86.5000,B77,S
282,283,3,"de Pelsmaeker, Mr. Alfons",male,16.000000,0,0,345778,9.5000,NaN,S
728,729,2,"Bryhl, Mr. Kurt Arnold Gottfrid",male,25.000000,1,0,236853,26.0000,NaN,S
14,15,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.000000,0,0,350406,7.8542,NaN,S
364,365,3,"O'Brien, Mr. Thomas",male,29.673018,1,0,370365,15.5000,NaN,Q
712,713,1,"Taylor, Mr. Elmer Zebley",male,48.000000,1,0,19996,52.0000,C126,S
768,769,3,"Moran, Mr. Daniel J",male,29.673018,1,0,371110,24.1500,NaN,Q
840,841,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.000000,0,0,SOTON/O2 3101287,7.9250,NaN,S
197,198,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.000000,0,1,4579,8.4042,NaN,S
634,635,3,"Skoog, Miss. Mabel",female,9.000000,3,2,347088,27.9000,NaN,S
564,565,3,"Meanwell, Miss. (Marion Ogden)",female,29.673018,0,0,SOTON/O.Q. 392087,8.0500,NaN,S
689,690,1,"Madill, Miss. Georgette Alexandra",female,15.000000,0,1,24160,211.3375,B5,S